body {
    display: flex;
    gap: 20px;
}

.button1 {
    color: white;
    background-color: red;
    border: none;
    padding: 10px 20px;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 5px;
}

.button2 {
    color: rgb(7, 70, 153);
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 2rem;
    cursor: pointer;
    border: 2px solid rgb(7, 70, 153);
}

.button3 {
    color: white;
    background-color: rgb(50, 165, 241);
    padding: 10px 30px;
    border: none;
    font-size: 28px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold   ;
}

.button4 {
    color: white;
    background-color: black;
    padding: 10px 30px;
    border: none;
    font-size: 18px;
    border-radius: 2px;
    cursor: pointer;
}

.button5 {
    color: black;
    background-color: rgb(255,216,20);
    height: 50px;
    width: 250px;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.button6 {
    color: white;
    background-color: rgb(121,82,179);
    height: 50px;
    width: 150px;
    font-size: 18px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
